# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/

# Model and Feature files
models/
features/

# Temporary files
temp_images/
figures/
